*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid red;
    &:hover {
        color: red;
    }
}

.container {
    width: unquote($string: "min(80%, 70.5rem)");
    margin-inline: auto;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        > li a {
            font-family: 'Roboto Mono', monospace;
        }
    }
}

ul.postlinks {
    list-style:square;
}