*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: red;

    &:hover {
        color: darkred;
    }
}

.container {
    width: unquote($string: "min(80%, 70.5rem)");
    margin-inline: auto;
}

.content {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 24px;
    word-wrap: break-word;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        >li a.navlink {
            font-family: 'Roboto Mono', monospace;
            border-bottom: 3px solid red;

            &:hover,
            &-active {
                color: darkred;
            }
        }
    }
}

.section {
    min-height: 70vh;
}

.footer {
    padding-block: 1rem;
    text-align: center;

    hr {
        opacity: 0.4;
    }
}

ul.postlinks {
    list-style: none;
    padding: 0;
}

.postlink {
    padding-block: 0.8rem;
    padding-left: 2rem;
    border-left: 6px solid red;
    border-block: 2px solid rgba(14, 14, 14, 0.15);
    border-right: 2px solid rgba(14, 14, 14, 0.15);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-block: 2rem;
    transition: .2s;

    &:hover {
        border-block: 2px solid rgba(14, 14, 14, 0.25);
        border-right: 2px solid rgba(14, 14, 14, 0.25);
        transition: .2s;
    }

    &__title {
        font-weight: bold;
        color: red;

        &::before {
            content: '#   ';
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__date {
        display: block;
        font-size: 0.85rem;
        color: gray;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
}

.project-card {
    padding-block: 1rem;
    padding-inline: 1rem;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 0.5rem;

    &__title {
        margin-bottom: 0;
    }

    &__description {
        font-family: 'Roboto Mono', monospace;
        margin-top: 0;
    }
}

.blog-article {
    // width: min(80%, 90%);
    // margin-inline: auto;
    background-color: #f5f5f5;
    padding-block: 0.85rem;
    padding-inline: 1rem;
    border-radius: 1rem;

    &__title {
        margin-bottom: 0;
    }

    &__date {
        margin-top: 0;
        color: red;
        font-size: 0.85rem;
    }
}

.img {
    display: block;
    max-width: 100%;
    border-radius: 0.25rem;

    &--centered {
        margin-inline: auto;
        text-align: center;
    }

    &--fullwidth {
        width: 100%;
    }
}

.main {
    padding-block: 2.5rem;
    height: 100%;
    /*display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    text-align: center;
    display: grid;
    place-items: center;
    place-content: center;

    &__avatar {
        max-width: 50%;
        border-radius: 100%;
    }

    &__title {
        margin-top: 0;
        font-size: 3.5rem;
        margin-bottom: 0;
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-top: 0;
    }

    &__social-icons {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 2rem;
        flex-wrap:wrap;

        li {
            border: 2px solid rgba(14, 14, 14, 0.15);
            padding: 1rem;
            border-radius: 100%;
            transition: box-shadow .2s;

            &:hover {
                box-shadow: 1px 2px 3px rgba(14, 14, 14, 0.15);
                transition: box-shadow .2s;
                cursor: pointer;
            }
        }

        i {
            font-size: 2rem;
        }
    }
}