{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<ul class="postlinks">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
        <li>
            <div class="postlink">
                <a class="postlink__title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <span class="postlink__date">{{ page.date }}</span>
            </div>
        </li>
    {% endfor %}
</ul>
<p>Old posts were migrated from my <a href="https://shinysheeppizza.tumblr.com/">Tumblr</a>.</p>
{% endblock content %}