{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="project-grid">
    {% for page in section.pages %}
        <div class="project-card">
            <h3 class="project-card__title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
            <p class="project-card__description">{{ page.description }}</p>
        </div>
    {% endfor %}
</div>
<p>All projects are available on my <a href="https://github.com/waterrmalann" target="_blank">Github</a>.</p>
{% endblock content %}